<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzy6XHmlb3SEu7f5tSDPKOV9Dp8RvXsxw</string>
	<key>GCM_SENDER_ID</key>
	<string>948664883391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.saastodo</string>
	<key>PROJECT_ID</key>
	<string>microsaas-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>microsaas-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:948664883391:ios:58534ba4b0aa47772c4e0a</string>
</dict>
</plist>